.container
  .hero-unit
    %h1 Upload
    %p
      %form{:action=>"/upload",:method=>"post",:enctype=>"multipart/form-data"}
        %input{:type=>"file",:name=>"file"}
        %input{:type=>"submit",:value=>"Upload"}
  %hr
  %div= haml :footer